/* ListaUsuarios.css */

.search {
    margin-top: -90px;
    margin-left: 730px;
    position: relative;
  }
.agr{
  margin-top: -299px;
  margin-left: 880px;
  position: relative;
}
.pdf{
  position: absolute;
  float:inline-end;
  margin-top: 96px;
  margin-left: 320px;
}
.form-container {
    display: flex;
    margin-bottom: 20px;
  }
  
  .input-busqueda {
    width: 300px;
    padding: 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
.cn{
  margin-top: -140px;
}
